In [6]:
import pandas as pd
import numpy as np

In [12]:
data = {
    'Column1': ['D3', 'A5', 'A6', 'D3', 'A5', 'D3'],
    'Column2': ['D3', 'A5', 'A6', 'D3', 'A5', 'D3']
}

df = pd.DataFrame(data)

In [13]:
new_dfs = {}

In [15]:
dist = 238
column_name = 'Column1'
cls = ['D3']
df[column_name] = df[column_name].apply(lambda x: np.nan if x not in cls else x)
new_dfs[dist] = df

In [16]:
df.head()

  Column1 Column2
0      D3      D3
1     NaN      A5
2     NaN      A6
3      D3      D3
4     NaN      A5

In [17]:
new_dfs

{238:   Column1 Column2
 0      D3      D3
 1     NaN      A5
 2     NaN      A6
 3      D3      D3
 4     NaN      A5
 5      D3      D3}